*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    /* min-height: 100vh;
    background: linear-gradient(rgb(48, 42, 94),rgb(255, 255, 255));we can use it for further updates in the style */
    background: url(image/signInBack.jpeg);
}
body .formHeader{
    background: linear-gradient(rgb(0, 0, 0),red);
    box-shadow: 2px 8px 100px red;
}
body .formContainer{
    background-color: red;
}
form{
    box-shadow: 2px 8px 100px red;
}
body .container .reddies{
    background: rgb(75, 10, 10);
}
body .goo{
    display: flex;
    justify-content: center;
}
body .goo .gooPic{
    width: 100px;
    height: 100px;
}